* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
   }

.bg 
{
    height: 100vh;
    place-content: center;
    width: 100%;
    min-height: 100vh;
    background-position: center ;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    color: azure;
}
.k1
{
    font-size: 2em;
    background: black;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 50px;
}
.paralax2
{
   background-image: url(img/2.png); 
   
}
.paralax1
{
   background-image: url(img/1.png); 
}
@keyframes himom 
{
    to {
        transform: scale(3);
        filter: blur(10px);
        opacity: 0;
    }
}
.d
{
    animation: himom linear forwards;
    animation-timeline: view();
    animation-range: exit -200px ;
}

@keyframes hidad
{
   from {
    transform:translate(-50vw) ;
    opacity: 0;
   } 
   to{
    left: 0vw;
    opacity: 1;
   }
}
.m
{
    animation: hidad linear;
    animation-timeline: view();
    animation-range: 0px 60vh;
}